<?xml version="1.0"?>

<launch>
  <include file="$(find cob_people_object_detection_tensorflow)/launch/cob_people_object_detection_tensorflow.launch" />
  <include file="$(find cob_people_object_detection_tensorflow)/launch/cob_face_recognizer.launch" />
  <include file="$(find cob_people_object_detection_tensorflow)/launch/projection.launch" />
  <include file="$(find cob_people_object_detection_tensorflow)/launch/cob_people_object_tracker.launch" />
  <include file="$(find cob_people_object_detection_tensorflow)/launch/action_recognition.launch" />
</launch>
